.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list__qualities {
  width: 370px;
  margin-right: 30px;
  position: relative;
  &:last-child {
    margin-right: 0px;
  }
}

.list__wrap {
  width: 270px;
  height: 120px;
  background-color: $section-color;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.list__text {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.71;
}
